shamefully-hoist=true
public-hoist-pattern[]=*jws*
public-hoist-pattern[]=*jsonwebtoken*
public-hoist-pattern[]=*buffer-equal*
public-hoist-pattern[]=*ecdsa-sig*
public-hoist-pattern[]=*safe-buffer*
strict-peer-dependencies=false
auto-install-peers=true

